<nav id="sidebar">
  <span class="heading mt-3">Menu</span>
  <ul class="list-unstyled">
    <li>
      <a href="/profile"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li>
      <a href="/dashboard"><i class="fa fa-home"></i> Home</a>
    </li>
    <li>
      <a href="/challenges"><i class="fa fa-trophy"></i> Challenge</a>
    </li>
    <li>
      <a href="/workout"><i class="fa fa-bar-chart"></i> Workouts</a>
    </li>
    <li>
      <a href="/exercise"><i class="fa fa-dumbbell"></i> Exercises</a>
    </li>
    <li>
      <a href="/musclegroup"><i class="fa fa-syringe"></i> Muscle Groups</a>
    </li>
    <li>
      <a href="/statistics"><i class="fa fa-line-chart"></i> Statistics</a>
    </li>
    <li>
      <a href="/history"><i class="fa fa-th-list"></i> History</a>
    </li>
  </ul>
</nav>
