<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Workout Logger</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'fontawesomefree/css/all.min.css' %}"
    />
    <link rel="stylesheet" href="../../static/workout/styles.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'workout/images/favicon.ico' %}"
    />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <body>
    {% include 'workout/widgets/header.html' %}
    <div class="d-flex align-items-stretch">
      {% include 'workout/widgets/sidebar.html' %}
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Workout</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <h4 class="ms-4 my-2 mb-4 text-light">Add Workout</h4>
          <div class="card bg-dark add-exercise mb-4 mt-2">
            <div class="card-body">
              <form id="workout-form" action="/workout" method="POST">
                {% csrf_token %}
                <!-- Workout Errors -->
                {% if messages %} 
                {% for message in messages %} 
                {% if message.tags == "workout error" %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                  <strong>Error!</strong> {{ message }}
                </div>
                {% endif %} {% endfor %} {% endif %}
                <!-- Workout Name -->
                <div class="form-group">
                  <input
                    id="name"
                    type="text"
                    name="name"
                    required
                    class="input-material form-control-lg"
                    placeholder="Name"
                  />
                </div>
                <!-- Workout Description -->
                <div class="form-group">
                  <input
                    id="description"
                    type="text"
                    name="description"
                    class="input-material form-control-lg"
                    placeholder="Description"
                  />
                </div>
                {% csrf_token %}
                <input
                  id="add"
                  type="submit"
                  value="Add"
                  class="btn btn-primary btn-lg mt-3"
                />
              </form>
            </div>
          </div>
          <h4 class="ms-4 mt-2 mb-4 text-light">All Workouts</h4>
          {% if workouts %} {% for workout in workouts %}
          <div class="col-lg-12 pb-4">
            <div class="card text-white bg-dark mb-2">
              <div class="card-body">
                <h4 class="card-title">{{workout.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{workout.created_at | date }}
                </h6>
                <p class="card-text">{{workout.description}}</p>
                <a href="/workout/{{workout.id}}" class="btn btn-outline-info" >View</a>
                <p class="card-text">
                  <small class="text-muted"
                    >Updated {{workout.updated_at | timesince}} ago</small
                  >
                </p>
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <div class="card bg-dark add-exercise mb-4 mt-2">
            <div class="card-body text-light">
              <h4 class="card-title">You don't have any workout yet.</h4>
              <h6 class="card-subtitle mb-2 text-muted">
                There's no time like the present! 💪
              </h6>
            </div>
          </div>
          {% endif %}
        </section>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'workout/index.js' %}"></script>
    
  </body>
</html>
