<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Workout Logger</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'workout/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'workout/images/favicon.ico' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
</head>

<body>
    {% include 'workout/widgets/header.html' %}

    <div class="d-flex align-items-stretch">
        {% include 'workout/widgets/sidebar.html' %}
        <div class="page-content">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Challenges</h2>
                </div>
            </div>
            <section class="no-padding-bottom">
                <div class="container-fluid mb-4">
                    <div class="row">
                        <h4 class="ps-4 mt-2 mb-4 text-light">Challenges</h4>
                        {% if challenges %}
                        {% for challenge in challenges %}
                        <div class="col-lg-12 pb-4">
                            <div class="card text-white bg-dark mb-2">
                                <div class="card-body">
                                    <h4 class="card-title">{{ challenge.name }}</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{ challenge.created_at | date }}
                                    </h6>
                                    <p class="card-text">{{ challenge.description }}</p>
                                    <form action="{% url 'join_challenge' challenge.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        {% if challenge.id in user_challenges %}
                                            <button type="submit" class="btn btn-outline-danger me-2">Exit the Challenge</button>
                                        {% else %}
                                            <button type="submit" class="btn btn-outline-success me-2">Join the Challenge</button>
                                        {% endif %}
                                    </form>
                                    {% if challenge.id in user_challenges %}
                                            <a href="/challenge/{{ challenge.id }}" class="btn btn-outline-info">View</a>
                                        {% else %}
                                            <a href="/prechallenge/{{ challenge.id }}" class="btn btn-outline-info">Preview</a>
                                        {% endif %}
                                    <p class="card-text">
                                        <small class="text-muted">Updated {{ challenge.updated_at | timesince }} ago</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="col-lg-12 pb-4">
                            <div class="card text-white bg-dark mb-4">
                                <div class="card-body">
                                    <h4 class="card-title">No available challenges</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">You can ask the administrator to create some challenges!</h6>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'workout/index.js' %}"></script>
</body>
</html>
