<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Workout Logger</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'fontawesomefree/css/all.min.css' %}"
    />
    <link rel="stylesheet" href="../../static/workout/styles.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'workout/images/favicon.ico' %}"
    />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <body>
    {% include 'workout/widgets/header.html' %}

    <div class="d-flex align-items-stretch">
      {% include 'workout/widgets/sidebar.html' %}
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid mb-4">
            <div class="row">
              <h4 class="ps-4 mt-2 mb-4 text-light">Workouts</h4>
              <!-- Perform django if check here for recent_workouts-->
              {% if recent_workouts %}
              <!-- If so, repeat cards here: -->
              {% for workout in recent_workouts %}
              <div class="col-lg-12 pb-4">
                <div class="card text-white bg-dark mb-2">
                  <div class="card-body">
                    <h4 class="card-title">{{workout.name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                      {{workout.created_at | date }}
                    </h6>
                    <p class="card-text">{{workout.description}}</p>
                    <a
                      href="/workout/{{workout.id}}"
                      class="btn btn-outline-info"
                      >View</a
                    >
                    <p class="card-text">
                      <small class="text-muted"
                        >Updated {{workout.updated_at | timesince}} ago</small
                      >
                    </p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <p class="text-white text-muted block">
                <i class="fa fa-info-circle"></i>
                <em
                  >Most recent 4 workouts displayed only.
                  <a
                    href="/workout"
                    style="text-decoration: none; color: white"
                    class="card-link"
                    >View All</a
                  ></em
                >
              </p>
              {% else %}
              <div class="col-lg-12 pb-4">
                <div class="card text-white bg-dark mb-4">
                  <div class="card-body">
                    <h4 class="card-title">You don't have any workouts yet.</h4>
                    <h6 class="card-subtitle mb-2 text-muted">
                      There's no time like the present! 💪
                    </h6>
                    <a
                      href="/workout"
                      class="btn btn-outline-info"
                      >Start a Workout</a
                    >
                  </div>
                </div>
              </div>
              {% endif %}

              <h4 class="ps-4 mt-2 mb-4 text-light">Challenges</h4>
              {% if user_challenges %}
              {% for user_challenge in user_challenges %}
              <div class="col-lg-12 pb-4">
                  <div class="card text-white bg-dark mb-2">
                      <div class="card-body">
                          <h4 class="card-title">{{ user_challenge.challenge.name }}</h4>
                          <h6 class="card-subtitle mb-2 text-muted">{{ user_challenge.challenge.created_at | date }}</h6>
                          <p class="card-text">{{ user_challenge.workout.name }}</p>
                          <a href="/challenge/{{ user_challenge.workout_id }}" class="btn btn-outline-info">View</a>
                          <p class="card-text">
                              <small class="text-muted">Updated {{ challenge.updated_at | timesince }} ago</small>
                          </p>
                      </div>
                  </div>
              </div>
              {% endfor %}
              <p class="text-white text-muted block">
                  <i class="fa fa-info-circle"></i>
                  <em>Most recent 4 challenges displayed only. <a href="/challenge" style="text-decoration: none; color: white"
                    class="card-link">View All</a></em>
              </p>
              {% else %}
              <div class="col-lg-12 pb-4">
                  <div class="card text-white bg-dark mb-4">
                      <div class="card-body">
                          <h4 class="card-title">You don't participate in any challenge yet.</h4>
                          <h6 class="card-subtitle mb-2 text-muted">You can join a challenge and push yourself to new limits! 👌🔥</h6>
                          <a href="/challenges" class="btn btn-outline-info">Join a challenge</a>
                      </div>
                  </div>
              </div>
              {% endif %}
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'workout/index.js' %}"></script>
  </body>
</html>
