<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Workout Logger</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" href="../../static/workout/styles.css">
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'workout/images/favicon.ico' %}"
    />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    {% include 'workout/widgets/header.html' %}
    <div class="d-flex align-items-stretch">
      {% include 'workout/widgets/sidebar.html' %}
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Workout</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 text-light">
                <div  class="card bg-dark add-exercise mb-4 mt-2" >
                  <div class="card-body mb-0 pb-0">
                    <!-- Workout Name -->
                    <h2 class="">{{ workout.name}}</h2>
                    <!-- Workout Subtitle -->
                    <small class="text-muted">{{ workout.created_at | date}}</small>
                    <!-- Workout Description -->
                    <h5 class="mt-2">{{ workout.description}}</h5>
                    <div class="row my-4">
                      <div class="col-auto text-left">
                        <!-- Edit Workout Button -->
                        <a
                          href="/workout/{{ workout.id }}/edit"
                          style="text-decoration: none"
                          class="btn btn-primary btn-lg end-workout"
                          >Edit</a
                        >
                      </div>
                      <div class="col-auto text-left">
                        <!-- End Workout -->
                        <form 
                          id="end-workout-form"
                          action="/workout/{{ workout.id }}/complete"
                          method="POST"
                        >
                          {% csrf_token %}
                          <!-- End Workout Button -->
                          {% if workout.completed == False %}
                          <button
                            id="end-workout"
                            type="submit"
                            class="btn btn-outline-info btn-lg"
                          >
                            End Workout
                          </button>
                          {% else %}
                          <button
                            id="end-workout"
                            type="submit"
                            class="btn btn-primary btn-lg end-workout"
                            >
                            <b>Continue Workout </b>
                          </button>
                          {% endif %}
                        </form>
                      </div>

                      <div class="col-auto text-left">
                        <!-- Share Workout -->
                        <form 
                        id="end-workout-form"
                        action="/workout/{{ workout.id }}/share"
                        method="POST"
                      >
                        {% csrf_token %}
                        <!-- End Workout Button -->
                        {% if workout.is_shared == False %}
                        <button
                          id="end-workout"
                          type="submit"
                          class="btn btn-outline-info btn-lg"
                        >
                          Pin Workout
                        </button>
                        {% else %}
                        <button
                          id="end-workout"
                          type="submit"
                          class="btn btn-primary btn-lg end-workout"
                          >
                          <b>Unpin Workout</b>
                        </button>
                        {% endif %}
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                {% if workout.completed == False %}
                <!-- Add Exercise -->
                <h4 class="ms-4 mt-2 mb-4 text-light">Add Exercise to Workout</h4>
                <!-- Choose exercise type --> 
                <div  class="card bg-dark add-exercise mb-4 mt-2" >
                  <div class="card-body mb-0 pb-0">
                    <form id="exercise_type_form" action="/workout/{{ workout.id }}" class="form-group">
                      <div class="row">
                        <div class="col-auto text-left">
                          <p class="btn btn-primary btn-lg end-workout" style="pointer-events: none;">Choose Exercise</p>
                        </div>
                        <div class="col-auto text-left ">
                        <select name="exercise_type" id="exercise_type" class="bg-dark input-material form-control-lg text-light">
                          {% for exercise_type in exercise_types %}
                            {% if exercise_type.class_name == current_exercise %}  
                              <option selected="selected" value={{exercise_type.class_name}}>{{exercise_type.exercise_name}}</option>
                            {% else %}
                              <option value={{exercise_type.class_name}}>{{exercise_type.exercise_name}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        </div>
                        <input
                        type="hidden"
                        id="current_workout_id"
                        name="current_workout_id"
                        value="{{ current_workout_id }}"
                        />
                        <input
                        type="hidden"
                        id="current_muscle_group_id"
                        name="current_muscle_group_id"
                        value="{{ current_muscle_group_id }}"
                        />
                        <div class="col-auto text-left" style="display: none;">
                        <input type="submit" value="Submit" class="btn btn-primary btn-lg">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Add exercise -->
                <div class="card bg-dark add-exercise mb-4 mt-2">
                  <div class="card-body">
                    <form id="exercise-form" action="/exercise" method="POST">
                      {% csrf_token %}
                            <!-- Exercise Errors -->
                            {% if messages %} {% for message in messages %}
                            {% if message.tags == 'exercise error'%}
                            <div
                              class="alert alert-danger alert-dismissable"
                              role="alert"
                            >
                              <strong>Error!</strong> {{ message }}
                            </div>
                            {% endif %} {% endfor %} {% endif %}
                            
                            
                            <!-- Workout Id -->
                            <input
                                type="hidden"
                                id="workout_id"
                                name="workout_id"
                                value="{{ workout.id }}"
                                />

                            <!-- Redirect -->
                            <input
                            type="hidden"
                            id="redirect"
                            name="redirect"
                            value="/workout/{{ workout.id }}"
                            />

                            <!-- Exercise Name -->
                            <div class="form-group">
                              <input
                                id="name"
                                type="text"
                                name="name"
                                required
                                class="input-material form-control-lg"
                                placeholder="Name"
                              />
                            </div>
                            <!-- Exercise Description -->
                            <div class="form-group">
                              <input
                                id="description"
                                type="text"
                                name="description"
                                class="input-material form-control-lg"
                                placeholder="Description"
                              />
                            </div>

                            <!-- Exercise Data -->
                            {% for exercise_type in exercise_types %}
                              {% if exercise_type.class_name == current_exercise %}
                                <input
                                type="hidden"
                                id="exercise_type"
                                name="exercise_type"
                                value="{{ exercise_type.class_name }}"
                                />
                                {% for field in exercise_type.form_data %}
                                  <div class="form-group">
                                    <input
                                      id="{{ field.name }}"
                                      type="{{ field.type }}"
                                      name="{{ field.name }}"
                                      required
                                      class="input-material form-control-lg"
                                      placeholder="{{ field.placeholder }}"
                                    />
                                  </div>
                                {% endfor %}
                              {% endif %}
                            {% endfor %}
                            
                            <!-- Muscle Group Id -->
                            <div class="row mt-3 opacity-50">
                              {% if muscle_groups %}
                              <div class="col-auto p-0 ms-3">
                                <p class="btn btn-primary btn-lg end-workout" style="pointer-events: none;">Choose Muscle Group</p>
                              </div>
                                <div class="col-auto ">
                                <select name="muscle_group" id="exercise_type" class="bg-dark input-material form-control-lg text-light">
                                  {% for muscle_group in muscle_groups %}
                                    {% if muscle_group.id == current_muscle_group_id %}  
                                      <option selected="selected" value={{muscle_group.id}}>{{muscle_group}}</option>
                                    {% else %}
                                    <option value={{muscle_group.id}}>{{muscle_group}}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                                </div>
                                
                              {% else %}
                              <div class="col-auto p-0 ms-3">
                                <p class="btn btn-primary btn-lg end-workout" style="pointer-events: none;">Choose Muscle Group</p>
                              </div>
                                <div class="col-auto ">
                                <select disabled name="muscle_group" id="exercise_type" class="bg-dark input-material form-control-lg text-light">
                                  <option>Muscle groups will be available soon.</option>
                                </select>
                                </div>
                              {% endif %}
                              
                            </div>
                       <!-- Add Exercise Button -->
                      {% csrf_token %}
                      {% if muscle_groups %}
                      <div class="row opacity-75">
                      <div class="col-auto p-0 ms-3">
                        <input
                          id="add"
                          class="btn btn-primary btn-lg end-workout"
                          type="submit"
                          value="Add Exercise"
                        />
                      </div> 
                      </div>
                      {% endif %}
                    </form>
                  </div>
                </div>
                {% endif %}
                <!-- Exercises Table -->
          <h4 class="ms-4 mt-2 mb-4 text-light"> All Exercises in Workout</h4>
                {% if exercises %}
                <div class="card bg-dark add-exercise mb-4 mt-2">
                  <div class="card-body">
                    <div id="exercise-wrapper" class="mb-4">
                      <hr  class="mb-0"/>
                      <table class="table table-dark table-striped text-light">
                      </thead>
                        <tbody>
                          {% for exercise in exercises %}
                          <tr>
                            <th scope="row" class="align-middle text-center">{{ exercise.exercise_name }}</th>
                            <td class="align-middle text-center">{{ exercise.name }}</td>
                            {% for data in exercise.data %}
                            <td class="align-middle text-center">{{ data }}</td>
                            {% endfor %}
                            {% if workout.completed == False %}
                            <!-- <td class="align-middle text-center">{{ exercise.data }}</td> -->
                            <td ><a
                              href="/exercise/{{ exercise.id }}?exercise_type={{exercise.class_name}}&redirect_workout={{ workout.id }}"
                              class="btn btn-outline-info"
                              >Edit</a
                            ></td>

                            <td class="align-middle text-center">
                              <form
                                id="delete-exercise-form"
                                action="/exercise/{{ exercise.id }}/delete?exercise_type={{exercise.class_name}}&redirect_workout={{ workout.id }}"
                                method="GET"
                                class="p-0"
                              >
                                {% csrf_token %}
                                <input
                                  type="hidden"
                                  id="exercise_type"
                                  name="exercise_type"
                                  value="{{ exercise.class_name }}"
                                />
                                <input
                                  type="hidden"
                                  id="redirect_workout"
                                  name="redirect_workout"
                                  value="{{ workout.id }}"
                                />
                                <button
                                  id="delete-exercise"
                                  type="submit"
                                  class="btn btn-link btn-lg p-0"
                                >
                                  <i class="fa fa-remove delete-exercise"></i>
                                </button>
                              </form>
                            </td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'workout/index.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#exercise_type").change(function () {
          $("#exercise_type_form").submit();
        });
      });
    </script>
  </body>
</html>
