<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workout Logger</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" href="../../static/workout/styles.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% include 'workout/header.html' %}

    <div class="d-flex align-items-stretch ">
        {% include 'workout/sidebar.html' %}
        <div class="page-content ">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Edit Workout</h2>
                </div>
            </div>
            <section class="no-padding-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="update-workout-form" action="/workout/{{ workout.id }}/edit" method="POST">
                                {% csrf_token %}
                                <!-- Edit Workout Errors -->
                                {% if messages %} {% for message in messages %} {% if message.tags == "edit error" %}
                                <div class="alert alert-danger alert-dismissable" role="alert">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>Error!</strong> {{ message }}
                                </div>
                                {% endif %} {% endfor %} {% endif %}
                                <div class="card bg-dark add-exercise mb-4 mt-2">
                                    <div class="card-body text-light">
                                        <!-- Workout Name -->
                                        <div class="form-group">
                                            <input id="name" type="text" name="name" required class="input-material form-control-lg" placeholder="Name" value="{{ workout.name }}">
                                        </div>
                                        <!-- Workout Description -->
                                        <div class="form-group">
                                            <input id="description" type="text" name="description" class="input-material form-control-lg" placeholder="Description" value="{{ workout.description }}">
                                        </div>
                                        <!-- Update Workout Button -->
                                        <input id="update" type="submit" value="Update" class="btn btn-success btn-lg my-4">
                                        <!-- Back Button -->
                                        <a href="/workout/{{ workout.id }}"
                                        style="text-decoration: none" class="btn btn-outline-secondary btn-lg ms-3">Back</a>
                                        <!-- Delete Button -->
                                        <a id="delete-workout" href="/workout/{{ workout.id }}/delete" 
                                        style="text-decoration: none"
                                        class="btn btn-outline-danger btn-lg ms-3">Delete</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
