<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workout Logger</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" href="../../static/workout/styles.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    {% include 'workout/header.html' %}

    <div class="d-flex align-items-stretch ">
        {% include 'workout/sidebar.html' %}
        <div class="page-content ">
            <div class="page-header">
                <div class="container-fluid">
                    <h2 class="h5 no-margin-bottom">Muscle Group</h2>
                </div>
            </div>
            <section class="no-padding-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="update-muscle_group-form" action="/musclegroup/{{ muscle_group.id }}/edit" method="POST">
                                {% csrf_token %}
                                <!-- Edit Muscle Group Errors -->
                                {% if messages %} {% for message in messages %} {% if message.tags == "muscle_group error" %}
                                <div class="alert alert-danger alert-dismissable" role="alert">
                                    <strong>Error!</strong> {{ message }}
                                </div>
                                {% endif %} {% endfor %} {% endif %}
                                <div class="card bg-dark add-exercise mb-4 mt-2">
                                    <div class="card-body text-light">
                                        <!-- Muscle Group Name -->
                                        <div class="form-group">
                                            <input id="name" type="text" name="name" required class="input-material form-control-lg" placeholder="Name" value="{{ muscle_group.name }}">
                                        </div>
                                        <!-- Muscle Group Size -->
                                        <div class="form-group">
                                            <input id="size" type="number" name="size" class="input-material form-control-lg" placeholder="Size (cm)" value="{{ muscle_group.size }}">
                                        </div>
                                        <!-- Update Muscle Group Button -->
                                        <input id="update" type="submit" value="Update" class="btn btn-success btn-lg my-4">
                                        <!-- Back Button -->
                                        <a href="/musclegroup"
                                        style="text-decoration: none" class="btn btn-outline-secondary btn-lg ms-3">View All Muscle Groups</a>
                                        <!-- Delete Button -->
                                        <a id="delete-muscle_group" href="/musclegroup/{{ muscle_group.id }}/delete" 
                                        style="text-decoration: none"
                                        class="btn btn-outline-danger btn-lg ms-3">Delete</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'workout/index.js' %}"></script>
</body>

</html>
