<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Workout Logger</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" href="../../static/workout/styles.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    {% include 'workout/header.html' %}
    <div class="d-flex align-items-stretch">
      {% include 'workout/sidebar.html' %}
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Workout</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 text-light">
                <!-- Workout Name -->
                <h2 class="">{{ workout.name}}</h2>
                <!-- Workout Subtitle -->
                <small class="text-muted">{{ workout.created_at | date}}</small>
                <!-- Workout Description -->
                {% if workout.description %}
                <h5 class="mt-2">{{ workout.description}}</h5>
                <div class="row my-4">
                  <div class="col-auto text-left"><!-- Add appropriate column classes here -->
                    <!-- Edit Workout Button -->
                    <a
                      href="/workout/{{ workout.id }}/edit"
                      style="text-decoration: none"
                      class="btn btn-primary btn-lg end-workout"
                      >Edit</a
                    >
                  </div>
                  <div class="col-auto text-left"><!-- Add appropriate column classes here -->
                    <!-- End Workout -->
                    <form 
                      id="end-workout-form"
                      action="/workout/{{ workout.id }}/complete"
                      method="POST"
                    >
                      {% csrf_token %}
                      <!-- End Workout Button -->
                      {% if workout.completed == False %}
                      <button
                        id="end-workout"
                        type="submit"
                        class="btn btn-outline-info btn-lg"
                      >
                        End Workout
                      </button>
                      {% else %}
                      <button
                        id="end-workout"
                        type="submit"
                        class="btn btn-primary btn-lg end-workout"
                        >
                        <b>Continue Workout </b>
                      </button>
                      {% endif %}
                    </form>
                    
                  </div>
                </div>
                {% endif %}
                <!-- Add Exercise -->
                {% if workout.completed == False %}
                <div  class="card bg-dark add-exercise mb-4 mt-2" >
                  <div class="card-body">
                    <form action="/workout/{{workout.id}}" class="form-group">
                      <div class="row">
                        <div class="col-auto text-left">
                        <label for="exercise_type" class="input-material form-control-lg px-0">Choose an exercise to add:</label>
                        </div>
                        <div class="col-auto text-left d-flex justify-content-center p-0">
                        <select name="exercise_type" id="exercise_type" class="bg-dark input-material form-control-lg text-light">
                          {% for exercise_type in exercise_types %}
                            {% if exercise_type.class_name == current_exercise %}  
                              <option selected="selected" value={{exercise_type.class_name}}>{{exercise_type.class_name}}</option>
                            {% else %}
                              <option value={{exercise_type.class_name}}>{{exercise_type.class_name}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                        </div>
                        <div class="col-auto text-left">
                        <input type="submit" value="Submit" class="btn btn-primary btn-lg">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="card bg-dark add-exercise mb-4 mt-2">
                  <div class="card-body">
                    <form
                      id="add-exercise-form"
                      action="/exercise"
                      method="POST"
                    >
                      {% csrf_token %}
                      <!-- Exercise Errors -->
                      {% if messages %} {% for message in messages %}
                      {% if message.tags == 'exercise error'%}
                      <div
                        class="alert alert-danger alert-dismissable"
                        role="alert"
                      >
                        <strong>Error!</strong> {{ message }}
                      </div>
                      {% endif %} {% endfor %} {% endif %}
                      
                      <!-- Workout Id -->
                      <input
                          type="hidden"
                          id="workout_id"
                          name="workout_id"
                          value="{{ workout.id }}"
                          />

                      <!-- Exercise Name -->
                      <div class="form-group">
                        <input
                          id="name"
                          type="text"
                          name="name"
                          required
                          class="input-material form-control-lg"
                          placeholder="Exercise Name"
                        />
                      </div>
                      <!-- Exercise Description -->
                      <div class="form-group">
                        <input
                          id="description"
                          type="text"
                          name="description"
                          class="input-material form-control-lg"
                          placeholder="Exercise Description"
                        />
                      </div>

                      <!-- Exercise Data -->
                      {% for exercise_type in exercise_types %}
                        {% if exercise_type.class_name == current_exercise %}
                          <input
                          type="hidden"
                          id="exercise_type"
                          name="exercise_type"
                          value="{{ exercise_type.class_name }}"
                          />
                          {% for field in exercise_type.form_data %}
                            <div class="form-group">
                              <input
                                id="{{ field.name }}"
                                type="{{ field.type }}"
                                name="{{ field.name }}"
                                required
                                class="input-material form-control-lg"
                                placeholder="{{ field.placeholder }}"
                              />
                            </div>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}

                      <div class="row mt-2 opacity-50">
                        <div class="col-auto ">
                        <select name="muscle_group" id="exercise_type" class="bg-dark input-material form-control-lg text-light">
                          {% for muscle_group in muscle_groups %}
                            <option value={{muscle_group.id}}>{{muscle_group}}</option>
                          {% endfor %}
                        </select>
                        </div>
                        <div class="col-auto p-0">
                          <a href="/musclegroup"
                          style="text-decoration: none"
                          class="btn btn-primary btn-lg end-workout">Add Muscle Group</a>
                        </div>
                      </div>

                      <!-- Add Exercise Button -->
                      {% csrf_token %}
                      <input
                        id="add"
                        type="submit"
                        value="Add"
                        class="btn btn-primary btn-lg mt-3"
                      />
                    </form>
                  </div>
                </div>
                {% endif %}
                <!-- Exercises Table -->
                {% if exercises %}
                <div class="card bg-dark add-exercise mb-4 mt-2">
                  <div class="card-body">
                    <div id="exercise-wrapper" class="mb-4">
                      <!-- <h4 class="card-title">Exercise Data</h4> -->
                      <hr  class="mb-0"/>
                      <table class="table table-dark table-striped text-light">
                      </thead>
                        <tbody>
                          {% for exercise in exercises %}
                          <tr>
                            <th scope="row" class="align-middle text-center">{{ exercise.class_name }}</th>
                            <td class="align-middle text-center">{{ exercise.name }}</td>
                            {% for data in exercise.data %}
                            <td class="align-middle text-center">{{ data }}</td>
                            {% endfor %}
                            <!-- <td class="align-middle text-center">{{ exercise.data }}</td> -->
                            <td ><a
                              href="/workout/{{ workout.id }}/edit"
                              class="btn btn-outline-info"
                              >Edit</a
                            ></td>
                            
                            {% if workout.completed == False %}
                            <td class="align-middle text-center">
                              <form
                                id="delete-exercise-form"
                                action="/workout/{{ workout.id }}/exercise"
                                method="GET"
                                class="p-0"
                              >
                                {% csrf_token %}
                                <input
                                  type="hidden"
                                  id="exercise_class_name"
                                  name="exercise_class_name"
                                  value="{{ exercise.class_name }}"
                                />
                                <input
                                  type="hidden"
                                  id="exercise_id"
                                  name="exercise_id"
                                  value="{{ exercise.id }}"
                                />
                                <input
                                  type="hidden"
                                  id="workout_id"
                                  name="workout_id"
                                  value="{{ workout.id }}"
                                />
                                <button
                                  id="delete-exercise"
                                  type="submit"
                                  class="btn btn-link btn-lg p-0"
                                >
                                  <i class="fa fa-remove delete-exercise"></i>
                                </button>
                              </form>
                            </td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
