<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Workout Logger</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link rel="stylesheet" href="../../static/workout/styles.css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    {% include 'workout/header.html' %}
    <div class="d-flex align-items-stretch">
      {% include 'workout/sidebar.html' %}
      <div class="page-content mb-5">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Workout</h2>
          </div>
        </div>
        <section class="no-padding-bottom">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 text-light">
                {% if workout.completed == False %}
                <!-- End Workout -->
                <form
                  id="end-workout-form"
                  action="/workout/{{ workout.id }}/complete"
                  method="POST"
                >
                  {% csrf_token %}
                  <!-- End Workout Button -->
                  <button
                    id="end-workout"
                    type="submit"
                    class="btn btn-primary btn-lg float-right end-workout mb-4 ml-2"
                  >
                    End Workout
                  </button>
                </form>
                {% endif %}
                <!-- Edit Workout Button -->
                <a
                  href="/workout/{{ workout.id }}/edit"
                  class="btn btn-outline-info btn-lg float-right mb-4"
                  >Edit</a
                >
                <!-- Workout Name -->
                <h2 class="">{{ workout.name}}</h2>
                <!-- Workout Subtitle -->
                <small class="text-muted">{{ workout.created_at | date}}</small>
                <!-- Workout Description -->
                {% if workout.description %}
                <p class="mt-5">{{ workout.description}}</p>
                {% endif %}
                <!-- Add Exercise -->
                {% if workout.completed == False %}
                <div class="card bg-dark add-exercise mb-5 mt-5">
                  <div class="card-body">
                    <form
                      id="add-exercise-form"
                      action="/workout/{{ workout.id }}/exercise"
                      method="POST"
                    >
                      {% csrf_token %}
                      <!-- Exercise Errors -->
                      {% if messages %} {% for message in messages %} {% if message.tags == "workout error" %}
                      <div
                        class="alert alert-danger alert-dismissable"
                        role="alert"
                      >
                        <a
                          href="#"
                          class="close"
                          data-dismiss="alert"
                          aria-label="close"
                          >&times;</a
                        >
                        <strong>Error!</strong> {{ message }}
                      </div>
                      {% endif %} {% endfor %} {% endif %}
                      <!-- Exercise Name -->
                      <div class="form-group">
                        <input
                          id="name"
                          type="text"
                          name="name"
                          required
                          class="input-material form-control-lg"
                          placeholder="Exercise Name"
                        />
                      </div>
                      <!-- Exercise Description -->
                      <div class="form-group">
                        <input
                          id="description"
                          type="text"
                          name="description"
                          class="input-material form-control-lg"
                          placeholder="Exercise Description"
                        />
                      </div>
                      <!-- Exercise Muscle Group -->
                      <div class="form-group">
                        <input
                          id="muscle_group"
                          type="text"
                          name="muscle_group"
                          class="input-material form-control-lg"
                          placeholder="Muscle Group"
                        />
                      </div>
                      <!-- Add Exercise Button -->
                      <input
                        id="add"
                        type="submit"
                        value="Add"
                        class="btn btn-primary btn-lg"
                      />
                    </form>
                  </div>
                </div>
                {% endif %}
                <hr />
                <!-- Exercises Table -->
                {% if exercises %}
                <div id="exercise-wrapper" class="mb-5">
                  <!-- <h4 class="card-title">Exercise Data</h4> -->
                  <table class="table table-striped">
                    <tbody>
                      {% for exercise in exercises %}
                      <tr>
                        <th scope="row">{{ exercise.name }}</th>
                        <td>{{ exercise.weight|floatformat }} lbs</td>
                        <td>{{ exercise.repetitions|floatformat}} reps</td>

                        {% if workout.completed == False %}
                        <td>
                          <form
                            id="delete-exercise-form"
                            action="/workout/{{ workout.id }}/exercise"
                            method="GET"
                            class="p-0"
                          >
                            {% csrf_token %}
                            <input
                              type="hidden"
                              id="exercise_id"
                              name="exercise_id"
                              value="{{ exercise.id }}"
                            />
                            <input
                              type="hidden"
                              id="workout_id"
                              name="workout_id"
                              value="{{ workout.id }}"
                            />
                            <button
                              id="delete-exercise"
                              type="submit"
                              class="btn btn-link btn-lg p-0"
                            >
                              <i class="fa fa-remove delete-exercise"></i>
                            </button>
                          </form>
                        </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
